:root {
    --encabezado: #222;
    --texto-principal: #FFF;
    --texto-obscuro: #000;
    --blanco-medio: #999;
    --fondo-principal: #444;
    --fuente-principal: 'Ubuntu', sans-serif;
}
.contenedor {
    display: grid;
    height: 100vh;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 1fr 100px 80px;
    overflow: hidden;    
}
#campo-palabra {       
    width: 65%;
    max-height: 350px;
    margin: 15px;
    padding: 75px;
    background: rgba(255, 255, 255, 0.5);
    color: var(--texto-obscuro);
    font-size: 95px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
    resize: none;
    outline: none;
    transition: all 0.5;    
}
#campo-palabra::placeholder {
    text-transform: none;
    color: var(--encabezado);
    opacity: 0.4;
}
.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 span;
}
.contenedor .contenido #aviso {
    width: 75%;
    text-align: center;
    color: var(--texto-principal);
    text-shadow: 0 0 5px #000;
}
.boton {
    width: 300px;
    height: 100px;
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}
.overlay.active {
    visibility: visible;
}
.popup {
    display: flex;
    flex-direction: column;    
    width: 75%;
    padding: 20px;
    backdrop-filter: blur(1px);
    background: rgba(31, 31, 31, 0.9);
    border: 5px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
    transform: scale(0.7);
    transition: ease all 0.2s;
    opacity: 0;
}
.popup.active {
    transform: scale(1);
    opacity: 1;
}
.popup .boton-cerrar {
    display: flex;
    align-items: center;
    justify-content: end;
}
.popup .cerrar-popup {
    font-size: 30px;
    line-height: 30px;
    color: var(--fondo-principal);
    transition: ease all 0.3s;
}
.popup .cerrar-popup:hover {
    color: var(--texto-principal);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.popup .palabras {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-columns: 1fr;
    font-size: 25px;
    line-height: 30px;
    color: var(--texto-principal);
}
